<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.neuedu.blog.mapper.ColumnMapper">
    <select id="getAllColumn" resultType="org.neuedu.blog.model.Column">
        select *
        from `column`
    </select>

    <insert id="addColumn">
        insert into `column` values (default,#{colname},default )
    </insert>

    <update id="updateColumn">
        update `column` set colname = #{colname} where id = #{id}
    </update>

    <delete id="delColumn">
        delete from `column` where id = #{id}
    </delete>

    <delete id="deleteMany">
        delete from `column`
        where id in
        <foreach collection="ids" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </delete>

</mapper>